body {
    background-color: rgb(62, 62, 132);
}
header{
    color: white;
    text-align: center;
}

h1{
    text-transform: uppercase;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.731);
}

footer {
    color: white;
    text-align: center;
    font-style: italic ;
}

#msg {
    font-weight: bold;
}

img {
    width: 250px;
    height: 250px;
    border: solid 2px;
    border-radius: 50%;
}

div{
    text-align: center;
    padding: 8px;
}

@media screen and (max-width: 735px){
    section{
        max-width: 80%;
    }
}